@model PaginatedList<MarketMasked.Models.Item>
@using PagedList.Mvc;
@using PagedList;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewData["Title"] = "Index";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"> 
<h1 class="h1list" align="center"><img style="margin-right:5px;margin-bottom:5px;" src="/css/image/Store.png" alt="add" width="50" height="50">List Market</h1>
<hr>
<form asp-controller="Items" asp-action="Index" method="get">
    <p>
        <a class="buttoncrud" asp-action="Create"><img style="margin-right:5px;margin-bottom:5px;" src="css/image/plus.svg" alt="add" width="20" height="20">CREATE NEW</a>
        <img style="margin-right:5px;margin-left:5px;" src="css/image/search.svg" alt="search" width="20" height="20"><input type="text" placeholder="Search" value="@ViewData["CurrentFilter"]" name="SearchString" />
        <input class="buttoncrud" type="submit" value="SEARCH" />
    </p>
</form>
<div style="margin-bottom:250px" class="divscroll">
<table class="table">
    <thead class="theadtab" style="border:1px solid black;color:black; text-transform:uppercase">
        <th style="font-size:18px; letter-spacing:1px;" align="center">NO</th>
        <th style="font-size:18px; letter-spacing:2px;" align="center">Image</th>
        <th style="font-size:18px; letter-spacing:2px;" align="center">@Html.DisplayNameFor(model => model.First().Name)</th>
        <th style="font-size:18px; letter-spacing:2px;" align="center">@Html.DisplayNameFor(model => model.First().Description)</th>
        <th style="font-size:18px; letter-spacing:2px;" align="center">@Html.DisplayNameFor(model => model.First().Price)</th>
        <th colspan="3" style="font-size:18px; letter-spacing:2px;" align="center">Action</th>
    </thead>
    <tbody class="tbody">
@foreach (var item in Model) {
        <tr style="border:1px solid white;padding: 10px;vertical-align:middle;" >
            <td style="text-align:center"></td>
            <td class="tdcenter" >
                <img style="border-radius:10px;border:1px solid black;" src="@("~/image/"+item.ImageName)" asp-append-version="true" width="50px" height="50px"/>
                <br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                <br />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
                <br />
            </td>
            <td> 
                Rp.@Html.DisplayFor(modelItem => item.Price)
                <br />
            </td>
            <td class="tdcenter" >
                <a asp-action="Edit" asp-route-id="@item.Id"><img src="/css/image/Edit.png" alt="edit" width="40" height="40"></a> 
            </td>
            <td class="tdcentericon" >    
                <a asp-action="Details" asp-route-id="@item.Id"><img src="/css/image/Detail.png" alt="detail" width="40" height="40"></a> 
            </td>
            <td class="tdcenter" >    
                <a asp-action="Delete" asp-route-id="@item.Id"><img src="css/image/Delete.png" alt="delete" width="40" height="40"></a>
            </td>
        </tr>
        
}
          
        
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a class="buttoncrud" asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a class="buttoncrud" asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
</div>
<div class="divdum">
<div>
    <p style="color:black;text-transform:uppercase;font-size:18px;letter-spacing:3px;">Best Seller</p>
</div>
<div class="slideshowcar">
  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div style="visibility: hidden;" class="numbertext">1 / 6</div>
    <img src="css/item/C20.jpg" style="width:90%; height:200px;">
  </div>

  <div class="mySlides fade">
    <div style="visibility: hidden;" class="numbertext">2 / 6</div>
    <img src="css/item/C21.jpg" style="width:90%; height:200px;">
  </div>

  <div class="mySlides fade">
    <div style="visibility: hidden;" class="numbertext">3 / 6</div>
    <img src="css/item/C22.jpg" style="width:90%; height:200px;">
  </div>

  <div class="mySlides fade">
    <div style="visibility: hidden;" class="numbertext">4 / 6</div>
    <img src="css/item/.jpg" style="width:90%; height:200px;">
  </div>

  <div class="mySlides fade">
    <div style="visibility: hidden;" class="numbertext">5 / 6</div>
    <img src="css/item/.jpg" style="width:90%; height:200px;" >
  </div>
  
  <div class="mySlides fade">
    <div style="visibility: hidden;" class="numbertext">6 / 6</div>
    <img src="css/item/.jpg" style="width:90%; height:200px;" >
  </div>

  <div style="margin-top:100px;" class="dotdiv" style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
  </div> 
  <!-- Next and previous buttons -->
</div>
</div>
