@model IEnumerable<MarketMasked.Models.Item>

@{
    ViewData["Title"] = "Index";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"> 
<h1 class="h1list" align="center">List Market</h1>
<hr>
<form asp-controller="Items" asp-action="Index" method="get">
    <p>
        <a class="buttoncrud" asp-action="Create"><img src="css/image/plus.svg" alt="add" width="20" height="20">CREATE NEW</a>
        <img style="margin-right:5px;margin-left:5px;" src="css/image/search.svg" alt="search" width="20" height="20"><input type="text" placeholder="Search" name="SearchString" />
        <input class="buttoncrud" type="submit" value="Filter" />
    </p>
</form>
<div class="divscroll">
<table class="table">
    <thead>
        <th style="font-size:18px; letter-spacing:2px;" colspan="3" align="center">LIST</th>
    </thead>
    <tbody class="tbody">
@foreach (var item in Model) {
        <tr>
            <td style="border-top:1px solid white;" class="tdcenter" colspan="3">
                <img style="border-radius:10px;border:1px solid black;" src="@("~/image/"+item.ImageName)" asp-append-version="true" width="250px" height="250px"/>
                <br />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Name)        
            </td>
            <td class="tdcenter">
                :
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
                <br />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Description) 
            </td>
            <td class="tdcenter">
                :
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
                <br />
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Price)
            </td>
            <td class="tdcenter">
                :
            </td>
            <td> 
                Rp.@Html.DisplayFor(modelItem => item.Price)
                <br />
            </td>
        </tr>
        <tr>
            <td class="tdcenter" >
                <a asp-action="Edit" asp-route-id="@item.Id"><img src="/css/image/Edit.png" alt="edit" width="40" height="40"></a> 
            </td>
            <td class="tdcentericon" >    
                <a asp-action="Details" asp-route-id="@item.Id"><img src="/css/image/Detail.png" alt="detail" width="40" height="40"></a> 
            </td>
            <td class="tdcenter" >    
                <a asp-action="Delete" asp-route-id="@item.Id"><img src="css/image/Delete.png" alt="delete" width="40" height="40"></a>
            </td>
        </tr>
        
}
          
        
    </tbody>
</table>
</div>
<div class="divdum">
<div>
    <p style="color:black;text-transform:uppercase;font-size:18px;letter-spacing:3px;">Best Seller</p>
</div>
<div class="slideshowcar">
  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div style="visibility: hidden;" class="numbertext">1 / 5</div>
    <img src="css/item/C1.jpg" style="width:90%; height:200px;">
  </div>

  <div class="mySlides fade">
    <div style="visibility: hidden;" class="numbertext">2 / 5</div>
    <img src="css/item/C2.jpg" style="width:90%; height:200px;">
  </div>

  <div class="mySlides fade">
    <div style="visibility: hidden;" class="numbertext">3 / 5</div>
    <img src="css/item/C3.jpg" style="width:90%; height:200px;">
  </div>

  <div class="mySlides fade">
    <div style="visibility: hidden;" class="numbertext">4 / 5</div>
    <img src="css/item/C4.jpg" style="width:90%; height:200px;">
  </div>

  <div class="mySlides fade">
    <div style="visibility: hidden;" class="numbertext">5 / 5</div>
    <img src="css/item/C5.jpg" style="width:90%; height:200px;" >
  </div>
  
  <div style="margin-top:100px;" class="dotdiv" style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
  </div> 
  <!-- Next and previous buttons -->
</div>
</div>
