@model IEnumerable<MarketMasked.Models.Item>

@{
    ViewData["Title"] = "Index";
}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet"> 
<h1 class="h1list" align="center">List Market</h1>
<hr>
<p>
    <a asp-action="Create"><img src="css/image/plus.svg" alt="add" width="32" height="32"></a>
</p>
<div class="divscroll">
<table class="table">
    <thead>
        <th align="center">List</th>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="@("~/image/"+item.ImageName)" asp-append-version="true" width="100px" height="100px"/>
                <br />
                @Html.DisplayNameFor(model => model.Name) :
                @Html.DisplayFor(modelItem => item.Name)
                <br />
                @Html.DisplayNameFor(model => model.Description) :
                @Html.DisplayFor(modelItem => item.Description)
                <br />
                @Html.DisplayNameFor(model => model.Price) : 
                Rp.@Html.DisplayFor(modelItem => item.Price)
                <br />
                <a asp-action="Edit" asp-route-id="@item.Id"><img src="css/image/pen-fill.svg" alt="edit" width="16" height="16"></a> |
                <a asp-action="Details" asp-route-id="@item.Id"><img src="css/image/archive-fill.svg" alt="detail" width="16" height="16"></a> |
                <a asp-action="Delete" asp-route-id="@item.Id"><img src="css/image/trash-fill.svg" alt="delete" width="16" height="16"></a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
<div class="divdum">
<div class="slideshowcar">
  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <div class="numbertext">1 / 5</div>
    <img src="css/item/C1.jpg" style="width:40%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 5</div>
    <img src="css/item/C2.jpg" style="width:40%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 5</div>
    <img src="css/item/C3.jpg" style="width:40%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">4 / 5</div>
    <img src="css/item/C4.jpg" style="width:40%">
  </div>

  <div class="mySlides fade">
    <div class="numbertext">5 / 5</div>
    <img src="css/item/C5.jpg" style="width:40%">
  </div>

  <div class="dotdiv" style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
  </div> 
  <!-- Next and previous buttons -->
</div>
</div>
